.search-area {
    margin: 20px;
}

.type-in-stuff {
    margin-right: 5px;
}

.button-stuff {
    margin-left: 5px;
}

.header-background {
    /* background-color: black; */
}

main{
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba(30,115,172,0.7),rgba(244, 240, 245, 0.6)), url(/static/images/chicago.jpg);
    background-size: cover;
    background-position: 35% 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
}

.weather-box {
    background-color: white;
    outline-color: black;
    outline-width: thick;
}